<section class="bg-light">
    <div class="container">
        <footer class="py-5">
            <div class="row">

                <!-- Footer Section 1 -->
                <div class="col-6 col-md-3 mb-3">
                   <h5>
                       Bizimle İletişime Geçin
                   </h5>
                   <div class="col-auto">
                       <div>
                           Adres: Çankaya/Ankara/Turkiye
                       </div>
                       <div>
                         Mail: eticaret@info.com
                       </div>
                       <div>
                          Telefon: 0536 561 6941
                       </div>
                       
                   </div>
                </div>

                

            </div>

            <!-- Bottom Footer -->
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2025 Can Company,Tüm Hakları Saklıdır!</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="link-body-emphasis" href="#" aria-label="Instagram">
                            <svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-body-emphasis" href="#" aria-label="Facebook">
                            <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#facebook"></use></svg>
                        </a>
                    </li>
                </ul>
            </div>

        </footer>
    </div>

</section>
