@{
    ViewData["Title"] = "Hesabım";
}

<h1>Hesabım</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>Giriş yapıldı!</p>
    <p>Hoşgeldiniz, @User.Identity.Name</p>
    <p>Rol: @User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value</p>
    <p>Email: @User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value</p>
}
else
{
    <p>Giriş yapılmamış.</p>
}
